extends ../basic

block scripts
	script(languaje='javascript',src='/javascripts/front_end-grupos.js')

	script.
		var lgrupos = !{grupos};

		
block adminli
	li#adminli.active
		a(href='/administracion/')
			span Administración



block content
	p
	h2 Administración de grupos
	section#opciones.container(style="max-width:85%;padding:5px;text-align:center")
		#btnsOpciones(style=" max-width:300px;width:85%;display:inline-block;margin:0 auto; overflow:hidden;padding: 0px 5%;")
			h3 Opciones
			input(style="width:100%;",type='submit', value='Mostrar todos', id='btnMostrarTodos' onClick='onClickBtnMostrarTodosG()')
			br
			br
			input(style="width:100%;",type='submit', value='Nuevo', id='btnNuevo' onClick='onClickBtnMostrarNuevoGrupo()')
			p
		p
		#busquedas(style="max-width:300px;width:85%;display:inline-block;margin:0 auto; overflow:hidden;padding: 0px 5%;")
			h3 Busqueda
			input(style="width:95%;",type='text', name='buscar_grupo', id='buscar_grupo', placeholder='buscar por código de grupo', required='')
			br
			input(type='radio', name='rdBuscar', id='rdBuscar_p_codigo', value='codigo', checked='' ,onClick='document.getElementById("buscar_grupo").placeholder="buscar por código de grupo";')
			text por código
			br
			input(type='radio', name='rdBuscar', id='rdBuscar_p_descripcion', value='descripcion', onClick='document.getElementById("buscar_grupo").placeholder="buscar por descripción de grupo";')
			text en descripcion
			br
			input(style="width:100%;",type='submit', value='Buscar')

			br
			br
			br

	p

	section#seclistgrupos.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		br
		br
		input(type='submit', value='Regresar', style='width:100%', onClick="onClickBtnMostrarMenu()")
		br
		br
		div#divlistadogrupos.tabla_listado(style="z-index:0")
		br
		br
		input(type='submit', value='Regresar', style='width:100%', onClick="onClickBtnMostrarMenu()")
		p


	section#nuevoGrupo.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		form(action='javascript:void(0);')
			h3 Nuevo Grupo
			label(for='codigo_grupo_agregar') 
				b Código:
			input(style="max-width:300px;width:85%;",type='number', name='codigo_grupo_agregar', id='codigo_grupo_agregar', placeholder='codigo', required='')
			label(for='descripcion_grupo_agregar') 
				b Descripción:
			input(style="max-width:300px;width:85%;",type='text', name='descripcion_grupo_agregar', id='descripcion_grupo_agregar', placeholder='descripcion', required='')
			label(for='cuenta_grupo_agregar') 
				b Cuenta Contable:
			input(style="max-width:300px;width:85%;",type='text', name='cuenta_grupo_agregar', id='cuenta_grupo_agregar', placeholder='cuenta contable', required='')
			label(for='estado_grupo_agregar') 
				b Estado:
			select(style="max-width:300px;width:85%;",id='estado_grupo_agregar', required='') 
				option(option value='', disabled selected, style='color:gray;') seleccione un estado
				option(value='A') A
				option(value='I') I
			br
			br
			input(style="max-width:300px;width:85%;",type='submit', value='Registrar nuevo grupo', onClick="onClickBtnAgregarGrupo()")
			br
			br
			input(style="max-width:300px;width:85%;",type='submit', value='Cancelar', onClick="onClickBtnCancelar()")
			p

	section#cambiarGrupo.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		form(action='javascript:void(0);')
			h3 Actualizar Grupo
			label(for='codigo_grupo_cambiar') 
				b Código:
			input(style="max-width:300px;width:85%;",type='number', name='codigo_grupo_cambiar', id='codigo_grupo_cambiar', placeholder='codigo', required='',readonly='readonly')
			label(for='descripcion_grupo_cambiar')  
				b Descripción:
			input(style="max-width:300px;width:85%;",type='text', name='descripcion_grupo_cambiar', id='descripcion_grupo_cambiar', placeholder='descripcion', required='')
			label(for='cuenta_grupo_cambiar')  
				b Cuenta Contable:
			input(style="max-width:300px;width:85%;",type='text', name='cuenta_grupo_cambiar', id='cuenta_grupo_cambiar', placeholder='cuenta contable', required='')
			label(for='estado_grupo_cambiar')  
				b Estado:
			select(style="max-width:300px;width:85%;",id='estado_grupo_cambiar', required='') 
				option(option value='', disabled selected, style='color:gray;') seleccione un estado
				option(value='A') A
				option(value='I') I
			br
			br
			input(style="max-width:300px;width:85%;",type='submit', value='Procesar', onClick="onClickBtnCambiarGrupo()")
			br
			br
			input(style="max-width:300px;width:85%;",type='submit',value='Cancelar' onClick="onClickBtnCancelar()")
			p

	section#mensajes.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		h3(id='titulo_mensajes_operaciones')
		label(id='mensajes_operaciones')
		br
		br
		input(style="max-width:300px;width:85%;",type='submit',value='Regresar' onClick="onClickBtnMostrarMenu()")
		p


	