doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/basic-style.css')
		meta(name='viewport', content='width=device-width,', initial-scale='1')
		block scripts
	
	body
		#wrapper
			#cssmenu
				ul#menulu
					li#logoli.client
						#logoa(onClick='window.location = "/"')
							span #{nombre_cliente}

					block adminli
						li#adminli
							a(href='/administracion')
								span Administración
							
					block transli
						li#transli
							a(href='/transacciones_inventarios')
								span Transacciones de Inventarios
							
					block reportesli
						li#reportesli.last
							a(href='/reportes')
								span Reportes
							
						

			#content
				block content

			#footer
				br
				br
				br
				#cssmenu.footer
					ul#menufooter.footer
						
						li#logout.user
							#logoa(onClick='window.location = "/"')
								span #{nombre_usuario}

						li#configli.useropt
							a(href='/configuser')
								span Configuración

						li#logoutli.useropt.last
							a(href='/logout')
								span Cerrar Sesión