extends layout

block content
	div(align='center')
		h1= title

	section.loginform.cf
		form(name='login', action='/login', method='POST', accept-charset='utf-8')
			ul
				if error
					li
						h4(style="color:red;") Error: #{error}

				li
					label(for='c_cliente') C칩digo Cliente
					input(type='number', name='c_cliente', placeholder='cliente', required='')
					
				li
					label(for='c_user') C칩digo Usuario
					input(type='number', name='c_user', placeholder='usuario', required='')
					
				li
					label(for='password') Contrase침a
					input(type='password', name='password', placeholder='contrase침a', required='')
					
				li
					div(align='center')
						input(type='submit', value='Ingresar',)
